$font-stack: "Ubuntu"
$text-color-dark: #414641
$text-color-clear: #fbfefb
$text-color-clear-ligth: #838a83
$text-color-blue-ligth: #EBF1F4

$bg-color-primary: #2C2D30
$bg-brand-primary: #1196F5
$bg-color-secondary: #E8FFFE

$container-border-radius-small: 5px
$container-border-radius-large: 25px