@use '../../styles/variables'
@use '../../styles/mixins'

#container-site
  background: variables.$bg-color-primary
  height: 100%
  padding: 50px
  color: variables.$text-color-clear
  
  h1
    @include mixins.h1