@use '../../styles/variables'
@use '../../styles/mixins'

#site
  background: variables.$bg-color-primary
  height: 100%
  color: variables.$text-color-clear
  display: grid
  grid-template-rows: .3fr 1fr 1fr 1fr 80px
  padding: 50px
  &-logo
    margin-bottom: 2rem
  
  h1
    @include mixins.h1

  p
    color: variables.$text-color-blue-ligth

  div
    width: 90%

  #span-criapp
    color: variables.$bg-brand-primary
    font-weight: bold
    cursor: pointer

  #paragrafo
    margin-top: 7px

  .corpo-texto
    color: #999CA4

  #graphy
    margin: 0 auto
    width: 125%
    margin-left: -40px